.book-card {
  background-color: var(--white);
  margin-bottom: 40px;
  text-align: center;
  border-radius: 4px;
  padding: 20px 0;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14),
    0 4px 8px -1px rgba(0, 0, 0, 0.12);
}

.book-card .book-title {
  font-size: 25px;
  font-weight: bold;
}

.book-card {
  max-width: 360px;
  margin: 0 auto;
  margin-top: 15px;
  user-select: none;
  cursor: pointer;
}

// Media Queries //

@media (max-width: 375px) {
  .book-card {
    max-width: 340px;
  }
}
