<div class="card">
  <p-table [value]="books">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>IconUrl</th>
        <th>Category</th>
        <th>Date</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-book>
      <tr (click)="onEditItem(book.id)" style="cursor: pointer">
        <td>{{ book.id }}</td>
        <td>{{ book.description }}</td>
        <td><img [src]="book.iconUrl" width="70" class="shadow-4" /></td>
        <td>{{ book.category }}</td>
        <td>{{ book.date }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ books ? books.length : 0 }} products.
      </div>
    </ng-template>
  </p-table>
</div>

<app-book-modal
  *ngIf="showModal"
  [book]="selectedBook"
  (closeModal)="closeModal()"
  (bookUpdated)="updateBook($event)">
</app-book-modal>
